*{
 font-family:Arial, Helvetica, sans-serif ;
}

.contenedor{
 background-color: white;
 margin-left: 32%;
 margin-right: 32%;
}

.contenedorUno{
 padding: 1px;
 text-align: center;
 background-color: rgb(113, 188, 219);
}

.contenedorDos{
 padding: 20px;
 text-align: left;
 background-color: rgb(255,255,255);
}

.contenedorTres{
 padding-right: 15px;
 padding-left: 15px;
 text-align: center;
 background-color: rgb(239,76,81);
 display: grid;
 grid-template-columns: auto auto;
}

.emailTexto{
font-size: 13px;
letter-spacing: 10px;
font-weight: bold;
color: rgb(18,53,64);
}

.titulo{
 font-size: 50px;
 font-weight: 100;
 color: rgb(227,250,251);
 font-family: 'Calibri';
}

.magic{
 margin-left: 5px;
 font-size: 43px;
 color: rgb(18,53,64);
 font-family: 'Lucida Handwriting';
 font-weight: bold;
}

.publicaciones{
 display: grid;
 grid-template-columns: auto auto;
}

.publicacionUno{
 line-height: 19px;
}

.publicacionDos{
 margin-left: 25px;
 line-height: 19px;
}

.figura{
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: rgb(22,54,67);
 margin-inline-start: 0px;
 margin-inline-end: 0px;
}

footer{
 text-align: justify;
 color: white;
 margin-top: 1vh;
}

.redes{
 text-align: right;
 padding-top: 10px;
 margin-inline-end: 0px;
}